ion-content{
    .div_head{
        margin: 64px 0px 32px 0px;
        .lbl_login{
            display: block;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }
        .lbl_desc{
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            padding: 8px;
        }
    }
    .lbl_reg{
        display: block;
        text-align: end;
        font-size: 16px;
        font-weight: normal;
        margin: 28px;
        width: 85%;
    }
    .div_btn{
        position: absolute;
        width: 100%;
        bottom: 16px;
        ion-button{
            width: 85%;
            margin: 0 auto;
            margin-bottom: 16px;
            text-transform: none;
        }
    }
}