<ion-content color="dark">

  <ion-row class="row_">
    <ion-col size="12" class="col_">
      <ion-button fill="clear" class="btn_back" (click)="close()">
        <ion-icon name="close-circle-outline" color="light" class="icon_"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="div_main">
  <div class="div_icon">
    <ion-icon color="light" name="checkmark" class="icon_"></ion-icon>
  </div>

  <ion-label class="lbl_">
    Verification Email Send on your Registered Email Address
  </ion-label>
  </div>

</ion-content>
