<ion-content>

  <div class="div_video">
    <ion-button fill="clear" color="dark" class="back_" (click)="back()">
      <ion-icon name="chevron-back-outline" class="back_icon"></ion-icon>
    </ion-button>
    <div class="div_img">
      <div class="div_inner">
      <img src="../../../assets/images/yoga11.png" class="img_" />
      </div>
    </div>
    <div class="divB_">
      <div class="div_box">
        <ion-label color="light" class="lbl_name">Niara Nicolai</ion-label>
        <ion-label color="light" class="lbl_pro">Personal Trainer</ion-label>
        <ion-label color="light" class="lbl_desc">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.</ion-label>
        <ion-row class="row_btn">
          <ion-col size="6" class="col_btn">
            <ion-label color="light" class="btnF_">Follow</ion-label>
          </ion-col>
          <ion-col size="6" class="col_btn" (click)="chat()">
            <ion-label color="dark" class="btnC_">Chat</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="div_desc top_">
    <ion-label color="dark" class="lbl_head">Biography</ion-label>
    <ion-label color="medium" class="lbl_bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</ion-label>
  </div>

  <div class="div_desc">
    <ion-label color="dark" class="lbl_head">Goals</ion-label>
    <ion-label color="medium" class="lbl_bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</ion-label>
  </div>

  <div class="div_desc">
    <ion-label color="dark" class="lbl_head">My Experience</ion-label>
    <ion-label color="medium" class="lbl_bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</ion-label>
  </div>

  <div class="div_btn">
    <ion-button size="large" expand="full" shape="round" color="primary" class="btns_">Book</ion-button>
  </div>

</ion-content>