<div class="div_modal">
    <div class="lbls_">
  <ion-label color="light" class="lbl_join">Join Live</ion-label>
  <ion-label color="light" class="lbl_event">Event</ion-label>
  <ion-label color="light" class="lbl_desc1">You are going to join a live event,</ion-label>
  <ion-label color="light" class="lbl_desc1">please type the code for the event to start</ion-label>
  </div>

  <ion-item no-padding lines="none" class="item_">
    <ion-input type="number" placeholder="Live Code" class="input_"></ion-input>
  </ion-item>

  <ion-label color="light" class="btn_join">Join</ion-label>
  </div>
