<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title_">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-row class="row_head">
    <ion-col size="4" class="col_head">
      <img src="../../../assets/images/placeholder.png" class="img_" />
    </ion-col>
    <ion-col size="8" class="col_head">
      <ion-label class="lbl_name">Ashish Chutake</ion-label>
      <ion-label class="lbl_exp">Beginner</ion-label>
      <ion-label class="lbl_email">ashishxuid@gmail.com</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="reader-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Gender</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">Male</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="watch-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Age</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">23</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="disc-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Height</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">6ft 2inch</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="medal-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Weight</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">78kg</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="battery-half-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Level</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">Beginner</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="row_item">
    <ion-col size="2" class="col_icon">
      <ion-icon name="calendar-outline" color="primary" class="icon_"></ion-icon>
    </ion-col>
    <ion-col size="6" class="col_lbl">
      <ion-label class="lbl_">Plan time days left</ion-label>
    </ion-col>
    <ion-col size="4" class="col_data">
      <ion-label class="lbl_data">3</ion-label>
    </ion-col>
  </ion-row>

</ion-content>