ion-content {
    .btn_top {
      --background-checked: var(--ion-color-dark);
      --color: var(--ion-color-dark);
      --color-checked: var(--ion-color-light);
      --background: var(--ion-color-light);
      --indicator-color: none;
      --indicator-height: 0px;
      text-transform: uppercase;
      width: 100%;
    }
    .search_ {
      margin: 8px 0px 8px 0px;
      --background: #fff;
      --border-radius: 50px;
    }
  }
  .right_{
      text-align: right;
      padding-right: 8px !important;
  }
  .div_trainer{
    background: url(../../../assets/images/girlTrainer.jpg);
    .lbl_trainer_pro{
        width: 100% !important;
        font-size: 12px !important;
    }
  }
  .top_{
      padding-top: 11px !important;
  }
  .color_ {
    background: var(--ion-color-secondary-shade) !important;
  }
  
//   .color1_ {
//     background: var(--ion-color-danger-tint) !important;
//   }
  
//   .colors_ {
//     background: red !important;
//   }
  
//   .colors1_ {
//     background: orange !important;
//   }
  