.row_ {
    margin: 16px 0px 0px 0px;
  .col_ {
    padding: 0px;
    text-align: left;
    .btn_back {
      --padding-start: 0;
      margin-inline-start: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}
// .active{
//     --ion-text-color: var(--ion-color-primary);
//     ion-icon{
//         --ion-text-color-rgb: var(--ion-color-primary);
//     }
// }

// .active-parent{
//     font-weight: 500;
// }

// .sub-item{
//     padding-left: 20px;
// }


.items{
    // --min-height: 40px;
    // height: 40px;
    --background: var(--ion-color-primary);
    --padding-start: 36px;
    ion-label{
        font-size: 14px;
        font-weight: bold;
        color: var(--ion-color-light);
    }
}

// .spc-menu{
//     margin-bottom: 0px;
// }

// .icon-end{
//     margin-top: 0px;
//     margin-bottom: 0px;
// }
// .spc{
//     margin-right: 16px;
// }