<ion-app>
  <ion-menu side="start" type="push" contentId="content" class="menu-container">

    <ion-content color="primary">

      <ion-row class="row_">
        <ion-col size="12" class="col_">
          <ion-button fill="clear" color="light" class="btn_back" (click)="close()">
            <ion-icon name="close-circle-outline" class="icon_"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <div *ngFor="let p of pages">

        <ion-menu-toggle *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active" mode="md" lines="none"
            class="items">
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open"
          detail="false" mode="md" lines="none" class="items">
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open" class="spc-menu">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of p.children" [routerLink]="sub.url" routerDirection="root"
              routerLinkActive="active" mode="md" lines="none" class="sub-item items">
              <ion-label>{{ sub.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </div>

      <ion-item mode="md" lines="none" class="items" (click)="liveCode()">
        <ion-label>Live Code</ion-label>
      </ion-item>

      <div *ngFor="let p of pages2">

        <ion-menu-toggle *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active" mode="md" lines="none"
            class="items">
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open"
          detail="false" mode="md" lines="none" class="items">
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open" class="spc-menu">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of p.children" [routerLink]="sub.url" routerDirection="root"
              routerLinkActive="active" mode="md" lines="none" class="sub-item items">
              <ion-label>{{ sub.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </div>

      <ion-item mode="md" lines="none" class="items" (click)="logout()">
        <ion-label>Log out</ion-label>
      </ion-item>

    </ion-content>

  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
