<ion-content color="dark">

  <div class="div_img">
    <img src="../../../assets/images/wellfit.png" class="img_logo"/>
  </div>

  <ion-label class="lbl_desc">Unleash Your Power</ion-label>

  <div class="div_btn">
    <ion-button expand="full" shape="round" color="light">
      <ion-icon name="logo-google"></ion-icon>
      Sign in with google
    </ion-button>
    <ion-button expand="full" shape="round">
      <ion-icon name="logo-facebook"></ion-icon>
      Sign in with facebook
    </ion-button>
    <ion-button expand="full" shape="round" (click)="email()">
      <ion-icon name="mail"></ion-icon>
      Sign in with youe email
    </ion-button>
  </div>

</ion-content>
