ion-content {
  // --padding-start: 16px;
  // --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;

  .div_img{
      text-align: center;
      margin-top: 50px;
      .img_logo{
        width: 55%;
      }
  }

  .lbl_desc{
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
  }
  .div_btn {
    position: absolute;
    width: 100%;
    bottom: 16px;
    ion-button {
      width: 85%;
      margin: 0 auto;
      margin-bottom: 16px;
      text-transform: none;
      ion-icon {
          margin-right: 8px;
      }
    }
  }
}
