ion-content {
  .div_top {
    position: relative;
    height: 70%;
    background: url(../../../assets/images/exercise1.jpg) 0 0/100% 100%
      no-repeat;
    .row_ {
      .col_ {
        padding: 0px;
        .btn_back {
          --padding-start: 0;
          margin-inline-start: 16px;
          margin-top: 0px;
          margin-bottom: 0px;
          // .icon_{

          // }
        }
        .lbl_skip {
          display: block;
          text-align: end;
          margin: 28px 24px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
    .div_mid {
      padding: 16px;
      position: absolute;
      width: 100%;
      top: 33%;
      .div_head {
        display: block;
        font-weight: bold;
        font-size: 20px;
      }
      .div_points {
        padding: 16px 0px;
        .row_points {
          padding: 2px 0px;
          .col_points {
            padding: 0px;
            // .icon_chk {
            // }
            .lbl_points {
              display: block;
              font-size: 14px;
            }
          }
        }
      }
    }
    .div_end {
      position: absolute;
      bottom: 0;
      width: 100%;
      .seg_ {
        .seg_btn {
          --color: var(--ion-color-light);
          font-weight: bold;
          text-transform: capitalize;
          --indicator-height: 3px;
          font-size: 14px;
        }
      }
    }
  }
  .div_bottom {
    height: 31%;
    width: 100%;
    background: var(--ion-color-dark-tint);
    position: relative;
    .div_tab {
      // padding: 16px 16px;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      .row_tab {
        padding: 16px;
        margin: 16px;
        background: var(--ion-color-primary);
        border-radius: 8px;
        .col_left {
          padding: 0px;
          margin: auto;
          .lbl_title {
            display: block;
            font-size: 14px;
            font-weight: bold;
          }
        }
        .col_right {
          padding: 0px;
          text-align: right;
          .lbl_week {
            display: block;
            font-size: 14px;
            font-weight: bold;
          }
          .lbl_month {
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}
.left {
  line-height: 4;
}
.right {
  text-align: right;
}
.plan_ {
  border: 1px solid var(--ion-color-light);
  background: transparent !important;
}
