ion-content {
  .search_ {
    margin: 48px 0px 8px 0px;
    --background: #fff;
    --border-radius: 50px;
  }
}

.color_{
  background: var(--ion-color-success-tint) !important;
}

.color1_{
  background: var(--ion-color-medium-tint) !important;
}