<ion-content color="dark">

  <ion-label color="light" class="lbl_skip" (click)="skip()">Skip</ion-label>

  <div class="div_lbl">
    <ion-label color="light" class="lbl_head">Up Your Game</ion-label>
    <ion-label color="light" class="lbl_desc">Be safe, be well, be WELLFIT</ion-label>
  </div>

  <div class="div_img">
    <img src="../../../../assets/images/placeholder.png" class="img_logo" />
  </div>

  <div class="div_btn">
    <ion-button expand="full" shape="round" class="btn_footer" (click)="next()">Next</ion-button>
  </div>

</ion-content>